#textdomain wesnoth-tales_of_two
[scenario]
	current_time=4
	description=""
	id="01_Saving_the_town"
	map_data="{~add-ons/Tales_of_Two/maps/01_Saving_the_town.map}"
	name="01_Saving_the_town"
	next_scenario=02_Reinforcements

	random_start_time=no
	turns=unlimited
	experience_modifier={QUANTITY experience_modifier 85 100 120}
	victory_when_enemies_defeated=yes
	carryover_percentage=0

	{TOT_DEATH_EVENTS}
	{DEFAULT_SCHEDULE}
	{TOT_ABILITIES}
	{TOT_INTRO_01}

	{TOT_ITEM_RING_OF_REGENERATION_LESSER 33 55 item1}
	{TOT_ITEM_RING_OF_REGENERATION_LESSER 29 55 item2}
	{TOT_ITEM_AMULET_OF_STRENGTH 22 53 3}
	{TOT_ITEM_AMULET_OF_BALANCE 39 52 4}
	{TOT_ITEM_LONGBOW_YEW 45 55 5}
	{TOT_ITEM_POTION_VITALITY 5 5 6}
	{TOT_ITEM_POTION_ENERGY 5 55 7}
	{TOT_ITEM_POTION_MANA 52 11 8}
	{TOT_ITEM_POTION_ENERGY 1 44 11}
	{TOT_ITEM_POTION_VITALITY 52 40 12}
	{TOT_ITEM_HUMAN_SWORD 30 9 9}
	{TOT_ITEM_HUMAN_LONGSWORD 34 9 10}

	[side]
		{TOT_SIDE_KALEY}
	    recruit=Bowman,Cavalryman,Fencer,Heavy Infantryman,Horseman,Mage,Spearman
		facing=ne
		gold=145
		income=-2
	    village_gold=0
	[/side]
	
	[side]
		{TOT_SIDE_NOUR}
		recruit=Bowman,Cavalryman,Fencer,Heavy Infantryman,Horseman,Mage,Spearman
		facing=ne
		gold=145
		income=-2
	    village_gold=0
	[/side]

	[side]
		{TOT_SIDE_IDLE}
		[unit]
			name=Shady Figure
			canrecruit=yes
			id=Shadyfigure
			facing="se"
			name="Shady Figure"
			type="Dark Adept"
			max_experience=250
			max_hitpoints=100
			max_moves=0
			hitpoints=150
			level=4
			x=32
			y=4
			[modifications]
				[object]
					[effect]
					apply_to=attack
					name=shadow wave
					increase_damage=14
					set_attacks=4
					[set_specials]
						{WEAPON_SPECIAL_DRAIN}
						{WEAPON_SPECIAL_MAGICAL}
					[/set_specials]
					set_description="dark spell"
					set_icon=attacks/dark_spell.png
					[/effect]
					[effect]
					apply_to=remove_attacks
					name=shadow surge
					[/effect]
				[/object]
			[/modifications]
		[/unit]
	[/side]

	[side]
		controller="ai"
		fog=yes
		shroud=yes
		recruit=Peasant,Spearman,Horseman,Woodsman,Bowman
		gold=55
		hidden=no
		income=3
		no_leader=no
		share_vision="none"
		side=4
		team_name=Friendly
		user_team_name=Humans
		village_gold=0
		[ai]
			[goal]
				name=target
				[criteria]
					id=Razuk
				[/criteria]
				value=100
			[/goal]
			scout_village_targeting=0
		[/ai]
		[village]
			x=23
			y=32
		[/village]
		[village]
			x=21
			y=35
		[/village]
		[village]
			x=14
			y=35
		[/village]
	[/side]

	[side]
		controller="ai"
		fog=yes
		shroud=yes
		recruit=Orcish Assassin,Goblin Pillager,Goblin Impaler,Orcish Warrior,Orcish Crossbowman
		gold=300
		hidden=no
		income=-2
		no_leader=no
		share_vision="none"
		side=5
		team_name=Enemy
		user_team_name=Orcs
		village_gold=2
	[/side]

	[side]
		controller="ai"
		fog=yes
		shroud=yes
		recruit=Bone Shooter,Chocobone,Necrophage,Revenant,Wraith,Dark Adept,Soulless,Skeleton
		gold=300
		hidden=no
		income=-2
		no_leader=no
		share_vision="none"
		side=6
		team_name=Enemy
		user_team_name=Undead
		village_gold=1
	[/side]

	[side]
		controller="ai"
		fog=yes
		shroud=yes
		recruit=
		gold=0
		hidden=no
		income=-2
		no_leader=yes
		share_vision="none"
		side=7
		team_name=Wild
		user_team_name=Wild
		village_gold=0
		[unit]
			max_hitpoints=30
			type="Wose"
			x,y=8,63
		[/unit]
		[unit]
			max_hitpoints=30
			type="Wose"
			x,y=42,63
		[/unit]
		[unit]
			max_hitpoints=30
			type="Wose"
			x,y=8,63
		[/unit]
		[unit]
			max_hitpoints=30
			type="Wose"
			x,y=5,55
		[/unit]
		[unit]
			max_hitpoints=30
			type="Wose"
			x,y=17,52
		[/unit]
	[/side]

	[event]
		name=prestart
		{PETRIFY Shadyfigure}
		[set_variable]
			name=orcsDefeated
			value=false
		[/set_variable]
		[set_variable]
			name=undeadDefeated
			value=false
		[/set_variable]
		[item]
			x,y=46,35
			image=scenery/village-human-burned1.png
		[/item]
		[item]
			x,y=17,31
			image=scenery/village-human-burned2.png
		[/item]
		[item]
			x,y=49,29
			image=scenery/village-human-burned3.png
		[/item]
		[item]
			x,y=37,21
			image=scenery/village-human-burned4.png
		[/item]
		
	    [objectives]
	        [objective]
	            description= _ "Take the nearby villages in the forest and travel to the town in the north"
	            condition=win
	        [/objective]
			{TOT_DEATH_OBJECTIVE}
			[note]
				description= _ "You are in a hurry: villages will not increase your income until you leave the forest."
			[/note]
	    [/objectives]
	[/event]

	[event]
		name=start
		{NARRATE "Hint (1/3): This campaign features custom items and advancements. A unit can only carry one weapon of that type, but other items can be stacked such as rings and amulets. Equipment and advancements cannot be reversed, so choose wisely before you proceed!"}
		{NARRATE "Hint (2/3): Your leader as well as some other special units cannot use any items, as they have their own unique abilities and advancements."}
		{NARRATE "Hint (3/3): All items have an associated rarity from worst to best respectively: 
			{STYLE_ITEM_COMMON medium (Common)} -> {STYLE_ITEM_RARE medium (Rare)} -> {STYLE_ITEM_EPIC medium (Epic)} -> {STYLE_ITEM_LEGENDARY medium (Legendary)}"}
		{SAY Kaley "The city should be just ahead. These old elven ruins will have to do as keep. We should get some units to capture these villages, and we shall press on."}
		{SAY Nour "There should be another two keeps not far north of here. We should be able to use as well."}
	[/event]
	
	# Peasants coming out of villages when you step on them
	{TOT_MOVETO_SPAWN_s01 "Peasant" 1 9 47}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 2 10 43}
	{TOT_MOVETO_SPAWN "Peasant" 2 10 43}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 1 6 38}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 2 18 38}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 1 27 44}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 2 41 45}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 1 48 43}
	{TOT_MOVETO_SPAWN "Peasant" 1 48 43}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 1 47 43}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 2 52 46}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 1 32 38}
	{TOT_MOVETO_SPAWN "Peasant" 2 32 38}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 2 35 38}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 1 43 47}
	{TOT_MOVETO_SPAWN_s01 "Peasant" 2 42 46}
	
	[event]
		name=moveto
		[filter]
			side=1,2
			x=1-52
			y=0-50
		[/filter]

		[music]
			append=no
			name="the_city_falls.ogg"
		[/music]
		{TOT_MUSIC_BATTLE}

		[modify_side]
			side=1,2
			village_gold=2
		[/modify_side]
		[modify_side]
			side=4
			village_gold=1
		[/modify_side]
		[modify_side]
			side=5
			income=30
			village_gold=2
		[/modify_side]

		[unit]
			canrecruit=yes
			side=5
			facing="s"
			name="Razuk"
			id=Razuk
			max_hitpoints=60
			hitpoints=60
			type="Orcish Leader"
			x=49
			y=33
		[/unit]
		[unit]
			canrecruit=yes
			side=4
			facing="s"
			name="Savric"
			id=Savric
			type="Sergeant"
			hitpoints=45
			max_hitpoints=45
			x=17
			y=33
		[/unit]
		[unit]
			side=4
			facing="s"
			name="Henry"
			id=Henry
			type="Horseman"
			x=24
			y=41
		[/unit]
		[unit]
			side=4
			type="Royal Guard"
			hitpoints=11
			x=37
			y=32
		[/unit]
		[unit]
			side=4
			type="Royal Guard"
			hitpoints=5
			x=37
			y=36
		[/unit]
		[unit]
			side=4
			type="Swordsman"
			hitpoints=7
			x=40
			y=39
		[/unit]
		[unit]
			side=4
			type="Swordsman"
			hitpoints=17
			x=47
			y=36
		[/unit]
		[unit]
			side=4
			type="Knight"
			hitpoints=19
			x=48
			y=30
		[/unit]
		{LOYAL_UNIT 5 "Orcish Warrior" 47 32}
		{LOYAL_UNIT 5 "Goblin Pillager" 44 32}
		{LOYAL_UNIT 5 "Goblin Pillager" 43 32}
		{LOYAL_UNIT 5 "Goblin Pillager" 42 32}
		{LOYAL_UNIT 5 "Orcish Crossbowman" 44 41}
		{LOYAL_UNIT 5 "Orcish Slayer" 33 34}	
		{GENERIC_UNIT 4 "Peasant" 27 22}
		{GENERIC_UNIT 4 "Peasant" 35 29}
		{GENERIC_UNIT 4 "Peasant" 34 31}
		{GENERIC_UNIT 4 "Peasant" 23 32}
		{GENERIC_UNIT 4 "Peasant" 21 35}
		{GENERIC_UNIT 4 "Peasant" 21 35}

		[move_unit]
			id=Henry
			to_x=27
			to_y=51
		[/move_unit]
		{SAY Henry "My lord, my lady!"}
		{SAY Kaley "Greetings, how is the situation? We had scout reports of orcs marching to the city."}
		{SAY Henry "I'm afraid the city is already taken, we're just fighting for our lives now!"}
		{SAY Nour "Taken, already?"}
		{SAY Henry "My sergeant is currently in battle with an orcish leader north-east of here, but the situation is dire. We need your help!"}
		{SAY Nour "What about the city?"}
		{SAY Henry "Forget the city my lord, a very powerful necromancer has taken it."}
		{SAY Kaley "Then it is time to take it back. Tell your sergeant we will defeat this orcish leader and head straight for the city."}
		{SAY Henry "Are you sure? This is no ordinary necromancer."}
		{SAY Nour "Do what she says!"}
		{SAY Henry "As you command!" }
		[move_unit]
			id=Henry
			to_x=18
			to_y=34
		[/move_unit]
		{NARRATE "Take villages and rally peasants to your cause. "}
	    [objectives]
	        [objective]
	            description= _ "Defeat the orcish leader in the north-east"
	            condition=win
	        [/objective]
			{TOT_DEATH_OBJECTIVE}
	        [objective]
	            description= _ "Death of the Sergeant (north-west)"
	            condition=lose
	        [/objective]
			[note]
				description= _ "Take villages and rally peasants to your cause"
			[/note]
			[note]
				description= _ "Storming the city while the orcish leader lives is ill advised!"
			[/note]
	    [/objectives]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Savric
		[/filter]
		{SAY Savric "Aaaah .. such a young... death!"}
		{SAY Kaley "We should not have let that happen!"}
        [endlevel]
            result=defeat
        [/endlevel]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Razuk
		[/filter]
		{SAY Razuk "Aaaargh!"}
		{SAY Savric "Thank you for saving us!"}
		[if]
			[variable]
				name=undeadDefeated
				boolean_equals=false
			[/variable]
			[then]
				{SAY Nour "This fight isn't over yet."}
				{SAY Savric "You underestimate the necromancer. He stormed the city with ease, and there were royal guards present!"}
				{SAY Kaley "Have some faith in us, Savric. Let's go!"}
			[/then]
		[/if]
		{SAY Nour "Wait, there was a prisoner!"}
	[/event]

	[event]
		name=die
		[filter]
			id=Razuk
		[/filter]
		[unit]
			side=2
			facing="s"
			name="Anderson"
			id=Anderson
			type="Lieutenant"
			hitpoints=1
			max_hitpoints=52
			x=49
			y=33
			{IS_LOYAL}
		[/unit]

		{SAY Anderson "I...Thank you.."}
		{SAY Kaley "Get some rest, you're safe now."}
		{TOT_GOLD 100 "Anderson gives you 100 gold pieces each"}
		[set_variable]
			name=orcsDefeated
			value=true
		[/set_variable]
		[fire_event]
			name=defeat necromancer
		[/fire_event]
	[/event]

	[event]
		name=defeat necromancer
		[objectives]
	        [objective]
	            description= _ "Defeat the necromancer holding the city in the north"
	            condition=win
	        [/objective]
			{TOT_DEATH_OBJECTIVE}
	        [objective]
	            description= _ "Death of the Sergeant Savric"
	            condition=lose
	        [/objective]
	    [/objectives]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Anderson
		[/filter]
		{SAY Anderson "I .. aahhh"}
		{SAY Savric "Nooo!"}
		{SAY Kaley "Sorry Savric, he could not be saved."}
	[/event]

	[event]
		name=moveto
		[filter]
			side=1,2
			x=15-44
			y=2-14
		[/filter]
		{SAY unit "The city looks abandoned.. But I can see walking corpses inside the villages. Be careful!"}
	[/event]

	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 18 6}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 24 5}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 25 8}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 24 10}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 27 12}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 25 13}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 29 14}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 30 12}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 33 14}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 35 14}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 37 13}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 36 10}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 39 12}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 36 10}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 36 8}
	{TOT_MOVETO_SPAWN_s01_undead "Walking Corpse" 6 40 5}

	[event]
		{TOT_SIGHTED Shadyfigure 6}
		{UNPETRIFY Shadyfigure}
		[modify_side]
			side=6
			income=25
		[/modify_side]
		[modify_side]
			side=4
			village_gold=3
		[/modify_side]
		{SAY Shadyfigure "It looks like we have visitors! Leave no one alive!"}
		{LOYAL_UNIT 6 "Banebow" 21 7}
		{LOYAL_UNIT 6 "Dark Sorcerer" 39 9}
		{LOYAL_UNIT 6 "Draug" 31 5}
		{LOYAL_UNIT 6 "Draug" 33 5}
		{LOYAL_UNIT 6 "Ghast" 30 4}
		{LOYAL_UNIT 6 "Ghast" 34 4}
		{LOYAL_UNIT 6 "Deathblade" 30 4}
		{GENERIC_UNIT 6 "Shadow" 41 12}
		{GENERIC_UNIT 6 "Ghost" 40 14}
		{GENERIC_UNIT 6 "Spectre" 37 16}
		{GENERIC_UNIT 6 "Ghost" 30 16}
		{GENERIC_UNIT 6 "Ghost" 25 15}
		{GENERIC_UNIT 6 "Spectre" 23 13}
		{GENERIC_UNIT 6 "Ghost" 20 11}
		{GENERIC_UNIT 6 "Shadow" 17 9}
		{SAY second_unit "Ambush!"}
		[fire_event]
			name=defeat necromancer
		[/fire_event]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Shadyfigure
		[/filter]
		{SAY Shadyfigure "Aaaargh.."}
		[if]
			[variable]
				name=orcsDefeated
				boolean_equals=false
			[/variable]
			[then]
				[objectives]
					[objective]
						description= _ "Defeat the orcish leader in the east"
						condition=win
					[/objective]
					{TOT_DEATH_OBJECTIVE}
					[objective]
						description= _ "Death of the Sergeant (west)"
						condition=lose
					[/objective]
					[note]
						description= _ "Take villages and rally peasants to your cause"
					[/note]
				[/objectives]
			[/then]
		[/if]
		[set_variable]
			name=undeadDefeated
			value=true
		[/set_variable]
	[/event]

	[event]
		name=victory
		{SAY Savric "We did it!"}
		{SAY Anderson "Thank you for saving my life, truely."}
		{SAY Kaley "I suspect this is not over. That necromancer was not an ordinary one. I've heard tales of powerful necromancers, but they are very rare, usually older, and more powerful. This was a pawn in a greater scheme."}
		{SAY Nour "Let's head to the east and find out if our scouts have anything valueable to say."}
		{SAY Savric "I'm not sure if I'm ready for more.."}
		{SAY Kaley "Don't worry Savric, we will leave some troops behind. You stay here, fortify the city, and purge the remaining undead."}
		[transform_unit]
			id=Savric
			transform_to=Lieutenant
		[/transform_unit]
		[store_unit]
			[filter]
				id=Savric
			[/filter]
			variable=savricVar
		[/store_unit]
	[/event]
	
[/scenario]