#textdomain wesnoth-tales_of_two
[scenario]
	current_time=0
	description="After freeing the city of Cavel from its orcish raiders and dreaded necromancer, both Nour and Kaley scouted more foes in the distance to the east. They had anticipated some sort of reinforcement, as some orc scouts fled to the east before the battle had ended. Once one of Kaley's scouts had investigated the enemy, they discovered a horrifying truth: These were no mere reinforcements, but it was probably one of the warlords behind the attack. The enemy might be more formidable than we had anticipated.."
	id="02_Reinforcements"
	map_data="{~add-ons/Tales_of_Two/maps/02_Reinforcements.map}"
	name="02_Reinforcements"
	next_scenario=03_Journey_to_the_north

	random_start_time=no
	turns=unlimited
	experience_modifier={QUANTITY experience_modifier 85 100 120}
	victory_when_enemies_defeated=yes
	carryover_percentage=0

	{TOT_DEATH_EVENTS}
	{TOT_DEATH_EVENT_SCOUTS}
	{DEFAULT_SCHEDULE}
	{TOT_ABILITIES}
	{TOT_MUSIC_BATTLE}
	{TOT_ITEM_AMULET_OF_HASTE 54 13 1}
	{TOT_ITEM_AMULET_OF_HASTE 46 1 2}
	{TOT_ITEM_POTION_LONG_WINTER 29 30 3}
	
	[side]
		{TOT_SIDE_KALEY}
	    recruit=Peasant,Bowman,Cavalryman,Fencer,Heavy Infantryman,Horseman,Mage,Spearman
		facing=ne
		gold=250
		income=9
	    village_gold=3
		[village]
			x=3
			y=14
		[/village]
		[village]
			x=5
			y=15
		[/village]
		[village]
			x=5
			y=17
		[/village]
		[unit]
			facing="sw"
			name="Venerion"
			vision=8
			id=Venerion
			type="Dragoon"
			max_hitpoints=70
			x=8
			y=14
			max_experience=120
		    [modifications]
				{TRAIT_LOYAL}
				{TRAIT_STRONG}
				[object]
					[effect]
						apply_to=new_ability
						[abilities]
							{TOT_ABILITIES_ENDURANCE}
							{TOT_ABILITIES_SCOUT}
						[/abilities]
					[/effect]
					[effect]
						apply_to=movement
						increase=2
					[/effect]
					[effect]
						apply_to=max_attacks
						increase=1
					[/effect]
				[/object]
		    [/modifications]
			{SPECIAL_UNIT}
		[/unit]
	[/side]
	[side]
		{TOT_SIDE_NOUR}
		recruit=Peasant,Bowman,Cavalryman,Fencer,Heavy Infantryman,Horseman,Mage,Spearman
		facing=ne
		gold=250
		income=9
	    village_gold=3
		[village]
			x=3
			y=27
		[/village]
		[village]
			x=5
			y=24
		[/village]
		[village]
			x=5
			y=26
		[/village]
		[unit]
			facing="s"
			name="Owen"
			id=Owen
			type="Longbowman"
			x=6
			y=23
			max_hitpoints=70
			max_experience=120
		    [modifications]
				{TRAIT_LOYAL}
				{TRAIT_STRONG}
				[object]
					[effect]
						apply_to=new_ability
						[abilities]
							{TOT_ABILITIES_ENDURANCE}
							{TOT_ABILITIES_SCOUT}
						[/abilities]
					[/effect]
					[effect]
						apply_to=movement
						increase=2
					[/effect]
					[effect]
						apply_to=max_attacks
						increase=1
					[/effect]
				[/object]
		    [/modifications]
			{SPECIAL_UNIT}
		[/unit]
	[/side]

	[side]
		controller="ai"
		fog=no
		gold=0
		hidden=yes
		income=0
		no_leader=yes
		share_vision="all"
		shroud=no
		side=3
		team_name=Friendly
		user_team_name=Peasants
		[village]
			x=4
			y=22
		[/village]
		[village]
			x=6
			y=12
		[/village]
		[village]
			x=7
			y=9
		[/village]
		[village]
			x=9
			y=17
		[/village]
		[village]
			x=17
			y=5
		[/village]
		[village]
			x=19
			y=10
		[/village]
		[village]
			x=20
			y=9
		[/village]
		[village]
			x=23
			y=7
		[/village]
		[village]
			x=25
			y=17
		[/village]
		[village]
			x=26
			y=11
		[/village]
		[village]
			x=29
			y=24
		[/village]
		[village]
			x=31
			y=19
		[/village]
		[unit]
			facing="ne"
			name="Teddreddyn"
			type="Ruffian"
			x=26
			y=7
		[/unit]
		[unit]
			facing="ne"
			name="Denthynaent"
			id=Denthynaent
			type="Poacher"
			x=27
			y=7
		[/unit]
		[unit]
			facing="ne"
			name="Cynaent"
			type="Peasant"
			x=19
			y=10
		[/unit]
		[unit]
			facing="se"
			name="Yddec"
			type="Peasant"
			x=17
			y=5
		[/unit]
		[unit]
			facing="n"
			name="Tunreddoc"
			type="Peasant"
			x=25
			y=17
		[/unit]
		[unit]
			facing="nw"
			name="Inyc"
			type="Peasant"
			x=29
			y=24
		[/unit]
		[unit]
			facing="se"
			name="Owthynec"
			type="Peasant"
			x=31
			y=19
		[/unit]
		[unit]
			facing="sw"
			name="Seranyc"
			type="Peasant"
			x=7
			y=9
		[/unit]
		[unit]
			facing="se"
			name="Awer"
			id=Awer
			type="Peasant"
			x=9
			y=17
			max_hitpoints=40
			max_experience=5
		[/unit]
	[/side]
	[side]
		controller="ai"
		fog=no
		gold=120
		recruit=Goblin Spearman,Orcish Archer,Orcish Assassin,Orcish Grunt,Troll Whelp,Wolf Rider
		hidden=no
		income=16
		no_leader=no
		share_vision="all"
		shroud=no
		side=6
		team_name=Orcs
		user_team_name=4
		[village]
			x=32
			y=7
		[/village]
		[unit]
			canrecruit=yes
			facing="ne"
			name="Vrourbagorg"
			id=Vrourbagorg
			type="Orcish Warrior"
			x=28
			y=8
		[/unit]
	[/side]
	[side]
		controller="ai"
		fog=no
		gold=120
		recruit=Goblin Spearman,Orcish Archer,Orcish Assassin,Orcish Grunt,Troll Whelp,Wolf Rider
		hidden=no
		income=16
		no_leader=no
		share_vision="all"
		shroud=no
		side=5
		team_name=Orcs
		user_team_name=5
		[village]
			x=38
			y=21
		[/village]
		[unit]
			canrecruit=yes
			facing="ne"
			name="Prak"
			type="Orcish Slurbow"
			x=36
			y=24
		[/unit]
	[/side]
	[side]
		controller="ai"
		fog=no
		gold=400
		recruit=Goblin Spearman,Orcish Archer,Orcish Assassin,Orcish Grunt,Troll Whelp,Wolf Rider,Orcish Crossbowman,Orcish Warrior,Orcish Slayer
		hidden=no
		income=49
		no_leader=no
		share_vision="all"
		shroud=no
		side=6
		team_name=Orcs
		user_team_name=6
		[village]
			x=43
			y=5
		[/village]
		[village]
			x=44
			y=18
		[/village]
		[village]
			x=45
			y=13
		[/village]
		[village]
			x=51
			y=3
		[/village]
		[village]
			x=54
			y=6
		[/village]
		[village]
			x=54
			y=25
		[/village]
		[unit]
			canrecruit=yes
			facing="se"
			name="Zakaar"
			id=Zakaar
			hitpoints=70
			max_hitpoints=70
			type="Orcish Ruler"
			x=59
			y=3
		[/unit]
		[unit]
			facing="sw"
			name="Syvan the traitorous"
			id=Syvan
			max_hitpoints=125
			max_experience=300
			type="Assassin"
			x=58
			y=19
		[/unit]
	[/side]
	    [event]
	        name=start

	        [message]
	            speaker=Nour
	            message= _ "I can see smoke in the distance.."
	        [/message]
	        [message]
	            speaker=Kaley
	            message= _ "Oh no.. Scouts, what do you have for us?"
	        [/message]
	        [message]
	            speaker="Venerion"
	            message= _ "We've encountered multiple orc leaders. Two of which are formidable, but one of them is some sort of dangerous warlord. They have already started raiding villages and destroying farms to the east. The peasants that still live stand no chance, but are willing to fight for our common cause."
	        [/message]
	        [message]
	            speaker=Nour
	            message= _ "That would explain the smoke.."
	        [/message]
	        [message]
	            speaker=Kaley
	            message= _ "This is worse than we thought. This warlord may be the one behind the attack on the town."
	        [/message]
	        [message]
	            speaker="Owen"
	            message= _ "The warlord has also recruited a human assassin, we should also be wary of him. Any additional ressistance is bad news for us."
	        [/message]
	        [message]
	            speaker="Awer"
	            message= _ "There's word of elves in the structure to the south, they may be able to aid us considering the orcs are a threat to all of us here."
	        [/message]
	        [message]
	            speaker=Kaley
	            message= _ "Interesting.."
	        [/message]
	        [message]
	            speaker=Nour
	            message= _ "Let's just hope there are no necromancers this time around."
	        [/message]
	        [message]
	            speaker=Kaley
	            message= _ "You're right. To arms!"
	        [/message]

			{NARRATE "Your scout is a special unit, capable of attacking twice per turn, and is stronger than a normal unit. Use it well!"}
			{NARRATE "You can also recruit Peasants. They are weak, but have no upkeep."}
	    [/event]
	    [event]
	        name=prestart
			[item]
				x,y=54,13
				image=items/bones.png
			[/item]
			[item]
				x,y=46,1
				image=items/bones.png
			[/item]
	        [objectives]
	            [objective]
	                description= _ "Kill all the orcish leaders"
	                condition=win
	            [/objective]
	            [objective]
	                description= _ "Seek out the elves to the south"
	                condition=win
	            [/objective]
				{TOT_DEATH_OBJECTIVE}
				# The scouts are needed for the next scenario
	            [objective]
	                description= _ "Death of Venerion or Owen"
	                condition=lose
	            [/objective]
				[note]
					description= _ "Take villages and rally peasants to your cause"
				[/note]
				[note]
					description= _ "Your scout has 2 attacks per turn, use it well!"
				[/note]
	        [/objectives]
	    [/event]

		{TOT_MOVETO_SPAWN_s02 "Peasant" 3 6 12}
		{TOT_MOVETO_SPAWN_s02 "Peasant" 3 4 22}
		{TOT_MOVETO_SPAWN_s02 "Peasant" 3 8 9}
		{TOT_MOVETO_SPAWN_s02 "Peasant" 3 17 5}
		{TOT_MOVETO_SPAWN_s02 "Peasant" 3 23 7}
		{TOT_MOVETO_SPAWN_s02 "Peasant" 3 19 10}
		{TOT_MOVETO_SPAWN_s02 "Peasant" 3 23 7}
		{TOT_MOVETO_SPAWN_s02 "Peasant" 3 26 11}

	    [event]
	        name=moveto
	        [filter]
	        side=1,2
	        x="4"
	        y="30"
	        [/filter]
		[unit]
			facing="se"
			name="Lorraine"
			id=Lorraine
			type="Elvish Shyde"
			max_experience=200
			max_hitpoints=100
			max_attacks=3
			x=4
			y=30
			side=2
		[/unit]

			{SAY Lorraine "Who disturbs me?"}
	        {SAY Nour "Greetings, we mean no harm! Orcs are raiding nearby villages, and we thought you might be able to help us."}
			{SAY Lorraine "Orcs? Here? It's a matter of time before they reach us here.. Very well, I shall aid you as best I can."}

			[allow_recruit]
				type="Elvish Shaman"
				side=1,2
			[/allow_recruit]
	        {NARRATE "You can now recruit Elvish Shamans for this scenario only! You may recall them later on. Use them well!"}
			{TOT_GOLD 85 "You gain 85 gold each from the elves."}
	        [objectives]
	            [objective]
	                description= _ "Kill all the orcish leaders"
	                condition=win
	            [/objective]
				{TOT_DEATH_OBJECTIVE}
	            [objective]
	                description= _ "Death of Venerion or Owen"
	                condition=lose
	            [/objective]
	            [objective]
	                description= _ "Death of Lorraine"
	                condition=lose
	            [/objective]
				[note]
					description= _ "Take villages and rally peasants to your cause"
				[/note]
				[note]
					description= _ "Your scout has 2 attacks per turn, use it well!"
				[/note]
	        [/objectives]
	    [/event]
	    [event]
	        name=attack
	        [filter]
	            id=Lorraine
	        [/filter]
	        [message]
	            speaker=Lorraine
	            message= _ "Behold the power of the elves!"
	        [/message]
	    [/event]
	    [event]
	        name=attack
	        [filter]
	            id=Denthynaent
	        [/filter]
			[remove_shroud]
				[filter_side]
					side=1,2
				[/filter_side]
				x,y=$x1,$y1
				radius=1
			[/remove_shroud]
	        [message]
	            speaker=Denthynaent
	            message= _ "Take this you filth!"
	        [/message]
	    [/event]
	    [event]
	        name=moveto
	        [filter]
		        side=1,2
		        x="20"
		        y="9"
	        [/filter]
			[unit]
				name=Shady Figure
				canrecruit=yes
				id=Unknown
				side=6
				facing="se"
				name="Shady Figure"
				type="Dark Adept"
				max_experience=250
				max_hitpoints=150
				hitpoints=80
				level=4
				x=20
				y=9
				[modifications]
					[object]
						[effect]
						apply_to=attack
						name=shadow wave
						increase_damage=14
						set_attacks=4
						[set_specials]
							{WEAPON_SPECIAL_DRAIN}
							{WEAPON_SPECIAL_MAGICAL}
						[/set_specials]
						set_description="dark spell"
						set_icon=attacks/dark_spell.png
						[/effect]
						[effect]
						apply_to=remove_attacks
						name=shadow surge
						[/effect]
					[/object]
				[/modifications]
			[/unit]
			{SAY unit "There's someone in here.."}
			[message]
			    speaker=Unknown
		        message= _ "Hahaha, fool! You cannot stop the approaching storm. Prepare to meet your end."
			[/message]
	        [message]
	            speaker=Kaley
	            message= _ "Oh no! Be careful everyone!"
	        [/message]
	    [/event]
	    [event]
	        name=attack
	        [filter]
	            id=Lorraine
	        [/filter]
	        [message]
	            speaker=Lorraine
	            message= _ "Behold the power of the elves!"
	        [/message]
	    [/event]
	    [event]
	    	name=side 2 turn 2
	        [message]
	            speaker=Nour
	            message= _ "I have an idea. It might be wise to wait for the enemy to come to us by the river. Once they enter the water, they will be much more vulnerable. Then, we strike!"
	        [/message]
	        [message]
	            speaker=Kaley
	            message= _ "That might just work, good idea!"
	        [/message]
	    [/event]
	    [event]
	        name=last breath
	        [filter]
	            id=Vrourbagorg
	        [/filter]
	        [message]
	            speaker=Vrourbagorg
	            message= _ ".. In.. con.. ceivable!"
	        [/message]
	    [/event]
	    [event]
	        name=attack
	        [filter_second]
	            id=Zakaar
	        [/filter_second]
	        [message]
	            speaker=Zakaar
	            message= _ "This is the last time you mess with a warlord!"
	        [/message]
	    [/event]
	    [event]
	        name=last breath
	        [filter]
	            id=Zakaar
	        [/filter]
	        [message]
	            speaker=Kaley
	            message= _ "Hah, warlord indeed.."
	        [/message]
	    [/event]
	    [event]
			name=attack
			[store_unit]
				[filter]
					id=Syvan
				[/filter]
				variable=syvanVar
			[/store_unit]
	        [filter_second]
	            id=Syvan
	        [/filter_second]
	        [message]
	            speaker=Syvan
	            message= _ "Hahaha, not so fast!"
	        [/message]
		[unit]
			facing="se"
			name="Shady Stranger"
			id=ShadyStranger
			type="Rogue"
			max_experience=150
			max_hitpoints=65
			level=2
			x=$syvanVar.x
			y=$syvanVar.y
			side=6
		[/unit]
		[unit]
			facing="sw"
			name="Shady Stranger"
			type="Rogue"
			max_experience=150
			max_hitpoints=65
			level=2
			x=$syvanVar.x
			y=$syvanVar.y
			side=6
		[/unit]
	        [message]
	            speaker=ShadyStranger
	            message= _ "Heh!"
	        [/message]
	    [/event]
		[event]
			name=victory
			{SAY Lorraine "Well done, we have drived the orcs back together."}
			{SAY Kaley "Thank you for your help!"}
			{SAY Lorraine "Safe journeys! We elves will stay in the forest."}
			{SAY Nour "Great.. into the swamp"}
			[store_unit]
				[filter]
					id=Lorraine
				[/filter]
				variable=lorraineVar
				kill=yes
			[/store_unit]
			[disallow_recruit]
				type="Elvish Shaman"
				side=1,2
			[/disallow_recruit]
		[/event]
    [/scenario]