#textdomain wesnoth-tales_of_two
[scenario]
	current_time=1
	description=""
	id="04_Valueable_allies"
	map_data="{~add-ons/Tales_of_Two/maps/04_Valueable_allies.map}"
	name="04_Valueable_allies"
	next_scenario=05_High_council

	random_start_time=no
	turns=unlimited
	experience_modifier={QUANTITY experience_modifier 85 100 120}
	victory_when_enemies_defeated=yes
	carryover_percentage=0

	{TOT_DEATH_EVENTS}
	{DEFAULT_SCHEDULE}
	{TOT_ABILITIES}
	{TOT_MUSIC_JOURNEY}

	{CORPSE 38 42}
	{CORPSE2 34 45}

	{TOT_ITEM_AMULET_OF_MAGIC 25 45 1}
	{TOT_ITEM_AMULET_OF_ARCANE_FORTITUDE 35 38 2}
	{TOT_ITEM_ELVISH_LONGSWORD 14 30 3}
	{TOT_ITEM_ELVISH_LONGSWORD_ENCHANTED 41 43 4}
	{TOT_ITEM_BANEBOW 35 48 5}
	{TOT_ITEM_AMULET_OF_STRENGTH 14 11 6}
	{TOT_ITEM_SHORTBOW_YEW 23 24 7}
	{TOT_ITEM_AMULET_OF_HASTE 10 23 8}
	{TOT_ITEM_AMULET_OF_DEFENCE 13 40 9}
	{TOT_ITEM_POTION_VITALITY_GREATER 5 35 10}
	{TOT_ITEM_STAFF_BLUE 43 11 11}
	{TOT_ITEM_SPEAR_SILVER 14 33 12}
	
	[side]
		{TOT_SIDE_KALEY}
	    recruit=Peasant,Bowman,Cavalryman,Fencer,Heavy Infantryman,Horseman,Mage,Spearman,Elvish Scout,Elvish Shaman,Elvish Fighter,Elvish Archer
		facing=ne
		gold=295
		income=25
	    village_gold=4
	[/side]
	
	[side]
		{TOT_SIDE_NOUR}
		recruit=Peasant,Bowman,Cavalryman,Fencer,Heavy Infantryman,Horseman,Mage,Spearman,Elvish Scout,Elvish Shaman,Elvish Fighter,Elvish Archer
		facing=ne
		gold=295
		income=25
	    village_gold=4
	[/side]

	[side]
		controller="ai"
		fog=yes
		shroud=yes
		recruit=Elvish Sharpshooter,Elvish Champion,Elvish Sorceress
		gold=55
		hidden=no
		income=15
		no_leader=no
		share_vision="none"
		side=3
		team_name=Friendly
		user_team_name=Elves
		village_gold=1
		[unit]
			facing="e"
			canrecruit=yes
			id=Laethas
			max_hitpoints=90
			name="King Laethas"
			type="Elvish High Lord"
			max_moves=0
			x,y=17,32
		[/unit]
		[unit]
			facing="e"
			id=Daera
			name="Queen Daera"
			max_hitpoints=70
			type="Elvish Lady"
			max_moves=0
			x,y=16,31
			{IS_HERO}
		[/unit]
		[unit]
			facing="e"
			id=Daerthas
			name="Prince Daerthas"
			max_hitpoints=65
			type="Elvish Lord"
			max_moves=0
			x,y=16,32
			{IS_HERO}
		[/unit]
		{LOYAL_UNIT 3 (Elvish Avenger) 16 28}
		{LOYAL_UNIT 3 (Elvish Hero) 14 33}
		{LOYAL_UNIT 3 (Elvish Sorceress) 18 35}
		{LOYAL_UNIT 3 (Elvish Marksman) 24 30}
		{LOYAL_UNIT 3 (Elvish Champion) 18 33}
		{LOYAL_UNIT 3 (Elvish Marshal) 18 30}
	[/side]

	[side]
		controller="ai"
		fog=yes
		shroud=yes
		recruit=Dark Sorcerer,Banebow,Revenant
		gold=120
		hidden=no
		income=15
		no_leader=no
		share_vision="none"
		side=4
		team_name=Enemy
		user_team_name=Undead
		village_gold=2
	[/side]

	[side]
		controller="ai"
		fog=yes
		shroud=yes
		recruit=Ghost,Ghoul,Skeleton,Skeleton Archer,Soulless
		gold=340
		hidden=no
		income=50
		no_leader=no
		share_vision="none"
		side=5
		team_name=Enemy
		user_team_name=Undead2
		village_gold=2
		[unit]
			facing="w"
			canrecruit=yes
			type="Shadow"
			max_hitpoints=40
			x,y=35,38
		[/unit]
		[unit]
			facing="w"
			canrecruit=yes
			type="Shadow"
			max_hitpoints=40
			x,y=25,45
		[/unit]
		[unit]
			facing="w"
			canrecruit=yes
			name="Draug image"
			type="Draug"
			max_hitpoints={QUANTITY max_hitpoints 30 50 70}
			max_moves=0
			x,y=41,43
		[/unit]
		[unit]
			facing="w"
			canrecruit=yes
			name="Draug image"
			type="Draug"
			max_hitpoints={QUANTITY max_hitpoints 30 50 70}
			max_moves=0
			x,y=35,48
		[/unit]
	[/side]

	[event]
		name=prestart
		[unit]
			name=Shady Figure
			canrecruit=yes
			id=Shadyfigure
			facing="se"
			name="Shady Figure"
			type="Dark Adept"
			max_experience=350
			max_hitpoints=150
			hitpoints=150
			max_attacks=2
			level=4
			side=4
			x=39
			y=46
			[modifications]
				[object]
					[effect]
					apply_to=attack
					name=shadow wave
					increase_damage=10
					set_attacks=4
					[set_specials]
						{WEAPON_SPECIAL_DRAIN}
						{WEAPON_SPECIAL_MAGICAL}
					[/set_specials]
					set_description="dark spell"
					set_icon=attacks/dark_spell.png
					[/effect]
					[effect]
					apply_to=remove_attacks
					name=shadow surge
					[/effect]
				[/object]
			[/modifications]
		[/unit]
	    [objectives]
	        [objective]
	            description= _ "Defeat the undead threat"
	            condition=win
	        [/objective]
			{TOT_DEATH_OBJECTIVE}
	        [objective]
	            description= _ "Death of the elvish King, Queen or Prince"
	            condition=lose
	        [/objective]
	    [/objectives]
	[/event]

	[event]
		name=start
		{SAY Nour "Where are we?.."}
		{SAY Kaley "We should head to the south through the forest. We're not far."}
		[unit]
			facing="n"
			side=3
			id=Elvish_Scout
			name="Scout Novor"
			type="Elvish Scout"
			x=35
			y=16
		[/unit]
		[move_unit]
			id=Elvish_Scout
			to_x=41
			to_y=4
		[/move_unit]
		{SAY Elvish_Scout "Halt! Are you with the dwarves?"}
		{SAY Nour "Err, I suppose?"}
		{SAY Elvish_Scout "We don't allow dwarves in these parts! Head back, now."}
		{SAY Nour "We're clearly not dwarves though, are we? We need safe passage through the forest, then we'll be on our way."}
		{SAY Elvish_Scout "We don't allow foreigners in our forest, especially not those allied with dwarves. Turn back now!"}
		{SAY Kaley "Enough! We don't have time for this. Take us to your leader!"}
		{NARRATE "The elf looks nervously as Kaley's eyes blaze with fire.."}
		{SAY Elvish_Scout ".. Fine! Follow me."}
		[move_unit]
			id=Elvish_Scout
			to_x=19
			to_y=32
		[/move_unit]
		[move_unit]
			id=Kaley
			to_x=18
			to_y=31
		[/move_unit]
		[move_unit]
			id=Nour
			to_x=18
			to_y=32
		[/move_unit]
		[modify_side]
			side=3
			share_vision="all"
		[/modify_side]
		{SAY Elvish_Scout "My king, I found these threspassers, allied with the dwarves."}
		{SAY Laethas "Thank you, Novor."}
		[move_unit]
			id=Elvish_Scout
			to_x=35
			to_y=21
		[/move_unit]
		[scroll_to]
			x,y=17,32
		[/scroll_to]
		{SAY Daerthas "Are those.. Wizards!?"}
		{SAY Daera "Psst, be quiet now love."}
		{SAY Nour "My king, we need to return to the high council as soon as possible. We've encountered orcish and undead invaders in the north. We just need safe passage through the forest, and we'll be on our way."}
		{SAY Laethas "My deepest apologies, our scouts can be.. cautious. It's a please to meet you, I've heard a lot about your deeds in these lands. Your stay is most welcome."}
		{SAY Nour "You have?"}
		{SAY Laethas "And it's not just the north. Scouts have reported undead and dark magic nearby, it's a matter of time before they attack us. Will you help us before you leave?"}
		{SAY Kaley "Here too?.. Very well, we will help."}
		{SAY Laethas "Thank you. I will share some of my soldiers with you, they will be most valueable in forests."}
		[move_unit]
			id=Kaley
			to_x=21
			to_y=31
		[/move_unit]
		[move_unit]
			id=Nour
			to_x=21
			to_y=33
		[/move_unit]
		{SAY Nour "Prepare for battle!"}
		{NARRATE "You can now recruit Elvish Shamans, Elvish Scouts, Elvish Fighters and Elvish Archers."}
	[/event]

	[event]
		name=sighted
		[filter]
			side=1,2
		[/filter]
		[filter_second]
			side=4
		[/filter_second]
		{SAY second_unit "...Hhhh!"}
		{SAY unit "Undead ahead!"}
	[/event]
	
	[event]
		name=last breath
		[filter]
			id=Shadyfigure
		[/filter]
		{THUNDER ({SAY Shadyfigure "Aaaah! .. no!"})}
	[/event]

	[event]
		name=last breath
		[filter]
			id=Laethas,Daera,Daerthas
		[/filter]
		{SAY Shadyfigure "Aaaaaah!"}
		{SAY Nour "Damn!"}
        [endlevel]
            result=victory
        [/endlevel]
	[/event]

	[event]
		name=victory
		{SAY Laethas "Well done, the enemy is defeated! .. For now."}
		{SAY Daera "We were lucky to have you help us, please take some of our warriors with you as a gift of appreciation."}
		{SAY Kaley "Thanks! We must leave now."}
		{SAY Laethas "Thanks again, we would not have done it without you."}
	[/event]
[/scenario]