#textdomain wesnoth-tales_of_two

#copied entirely from BEEM
#changed a bit in Sojournings of Grog
#there may be some changes done by Dugi
#altered to fit Tales of Two by Leyline

[unit_type]
	id=Troll Boulderlobber
	name= _ "Troll Boulderlobber"
	race=troll
	image="units/trolls/boulderlobber.png"
	profile=portraits/trolls/troll-rocklobber.png
	hitpoints=62
	movement_type=largefoot
	movement=5
	{QUANTITY experience 100 120 140}
	level=3
	alignment=chaotic
	advances_to=null
	undead_variation=troll
	cost=43
	usage=mixed fighter #fighter in the original from BEEM
	description= _ "Some trolls show an uncommon ability in throwing boulders. These Boulderlobbers throw enormous rocks, that common trolls could not even lift and that are often bigger than a man."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}
	die_sound={SOUND_LIST:TROLL_DIE}
	[abilities]
		{ABILITY_REGENERATES}
	[/abilities]
	[advancefrom]
		unit=Troll Rocklobber
		experience=225
	[/advancefrom]
	[attack]
		name=fist
		description=_"fist"
		icon=attacks/fist-troll.png
		type=impact
		range=melee
		damage=13
		number=2
	[/attack]
	[attack]
		name=sling
		description=_"sling"
		type=impact
		range=ranged
		damage=26
		number=1
	[/attack]
	{DEFENSE_ANIM "units/trolls/boulderlobber-defend.png" "units/trolls/boulderlobber.png" {SOUND_LIST:TROLL_HIT} }
	[attack_anim]
		[filter_attack]
			name=sling
		[/filter_attack]

		start_time=-1000
		offset=0

		[if]
			hits=yes
			[sling_stone_frame]
				begin=-801
				end=-800
				image="misc/blank-hex.png"
			[/sling_stone_frame]
			[sling_stone_frame]
				begin=-800
				end=0
				halo="projectiles/stone-large.png"
				halo_x=24~0
				halo_y=0~-10,-10~-18,-18~-22,-22~-24,-24~-25,-25~-24,-24~-22,-22~-18,-18~-10,-10~-0
				offset=0.0~1.0
			[/sling_stone_frame]
			[sling_stone_frame]
				begin=0
				end=1
				image="misc/blank-hex.png"
			[/sling_stone_frame]

			[frame]
				duration=200
				image="units/trolls/boulderlobber-attack-ranged1.png"
				sound=sling-big.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[sling_stone_frame]
				begin=-801
				end=-800
				image="misc/blank-hex.png"
			[/sling_stone_frame]
			[sling_stone_frame]
				begin=-800
				end=100
				halo="projectiles/stone-large.png"
				halo_x=24~0
				halo_y=0~-10,-10~-16,-16~-20,-20~-22,-22~-20,-20~-16,-16~-10,-10~0,0~-4,-4~0,0~-2,-2~0
				offset=0.0~1.5
			[/sling_stone_frame]
			[sling_stone_frame]
				begin=100
				end=101
				image="misc/blank-hex.png"
			[/sling_stone_frame]

			[frame]
				duration=200
				image="units/trolls/boulderlobber-attack-ranged1.png"
				sound=sling-big-miss.ogg
			[/frame]
		[/else]
		[frame]
			duration=600
			image="units/trolls/boulderlobber-attack-ranged2.png"
		[/frame]
		[frame]
			duration=100
			image="units/trolls/boulderlobber-defend.png"
		[/frame]
		[frame]
			duration=100
			image="units/trolls/boulderlobber.png"
		[/frame]
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=fist
		[/filter_attack]
		start_time=-200
		[frame]
			duration=50
			image="units/trolls/boulderlobber.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=250
				image="units/trolls/boulderlobber-attack-melee.png"
				sound=fist.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=250
				image="units/trolls/boulderlobber-attack-melee.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			duration=100
			image="units/trolls/boulderlobber.png"
		[/frame]
	[/attack_anim]
[/unit_type]