#textdomain wesnoth-tales_of_two
[unit_type]
    id=Mysterious Lich
    name= _ "Mysterious Lich"
    race=undead
    image="units/mal-keshar/mysterious-lich/mysterious-lich.png"
    profile="portraits/mal-keshar-weak.png"
    hitpoints=74
    movement_type=undeadfoot
    movement=5
    experience=250
    level=5
    alignment=chaotic
    advances_to=Ethereal Lich
    cost=120
    usage=mixed fighter
    description= _ "An Ancient Lich with tattered robes, seeking to restore their powers to their former glory, or stronger.."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_SUBMERGE}
    die_sound=lich-die.ogg
    {DEFENSE_ANIM "units/mal-keshar/mysterious-lich/mysterious-lich-defend.png" "units/mal-keshar/mysterious-lich/mysterious-lich.png" {SOUND_LIST:LICH_HIT} }
    [movement_costs]
        shallow_water=3
    [/movement_costs]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        arcane=145
        blade=115
        cold=35
        fire=115
        impact=85
        pierce=65
    [/resistance]
	[attack]
		name=touch
		description=_"touch"
		icon=attacks/touch-undead.png
		type=arcane
		range=melee
		damage=9
		number=3
		[specials]
			{WEAPON_SPECIAL_DRAIN}
		[/specials]
	[/attack]
	[attack]
		name=chill tempest
		description=_"chill tempest"
		type=cold
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		range=ranged
		damage=13
		number=4
		icon=attacks/iceball.png
	[/attack]
	[attack]
		name=shadow wave
		description=_"shadow wave"
		type=arcane
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		range=ranged
		damage=10
		number=4
		icon=attacks/dark-missile-flipped.png
	[/attack]

    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=2310
            image="units/mal-keshar/mysterious-lich/mysterious-lich.png"
            halo=halo/undead/idle-flash-[1~21].png
            halo_x=6~0,0
            halo_y=-6~0,0
        [/frame]
    [/idle_anim]

    [recruiting_anim]
        [filter_second]
            race=undead
        [/filter_second]
        start_time=-300
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-[1,2].png:75"
        [/frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-3.png"
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/frame]
        sound_start_time=-75
        [sound_frame]
            sound=magic-dark-big.ogg
        [/sound_frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-[2,1].png:50"
        [/frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich.png:1"
        [/frame]
    [/recruiting_anim]
    [attack_anim]
        [filter_attack]
            name=chill tempest
        [/filter_attack]

        offset=0

        {MISSILE_FRAME_CHILL_TEMPEST 0 -15}

        start_time=-355
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-[1,2].png:75"
        [/frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-3.png"
			halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -150}
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-[2,1].png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]

        {MISSILE_FRAME_SHADOW_WAVE}

        start_time=-675
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-[1,2].png:75"
        [/frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-3.png"
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-3.png:200"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-[2,1].png:50"
        [/frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich.png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich.png:50"
        [/frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-melee-[1~2].png:[100,200]"
        [/frame]
        {SOUND:HIT_AND_MISS wail-sml.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich-magic-1.png:75"
        [/frame]
        [frame]
            image="units/mal-keshar/mysterious-lich/mysterious-lich.png:75"
        [/frame]
    [/attack_anim]
[/unit_type]
