#textdomain wesnoth-tales_of_two

    #####################
  ##    Abilities    ##
#####################

#define TOT_ABILITIES_ANGELIC_CLEANSE
    [heals]
        value=16
        id=angelic cleanse
        affect_allies=yes
        name= _ "heals +16"
        female_name= _ "female^heals +16"
        description= _ "This ability stirs hope in nearby units, curing and healing them

A unit cared for by this healer may heal up to 16 HP per turn and stop poison."
        affect_self=no
        poison=cured
        [affect_adjacent]
        [/affect_adjacent]
    [/heals]
#enddef

#define TOT_ABILITIES_ILLUMINATES_LESSER
	[illuminates]
		id=lesser_illumination
		value=12
		max_value=12
		cumulative=no
		name= _ "lesser illumination"
		female_name= _ "female^lesser illumination"
		description= _ "Illuminates the surrounding area, making lawful units fight slightly better, and chaotic units fight slightly worse.

Any units adjacent to this unit will fight as if it were slightly day when it is night, better than if it were day when it is dusk, and slightly better during the day (worse if they are chaotic or liminal)."
	[/illuminates]
#enddef

#define TOT_ABILITIES_ILLUMINATES_IMPROVED
	[illuminates]
		id=improved_illumination
		value=37
		max_value=37
		cumulative=no
		name= _ "improved illumination"
		female_name= _ "female^improved illumination"
		description= _ "Illuminates the surrounding area, making lawful units fight much better, and chaotic units fight much worse.

Any units adjacent to this unit will fight as if it were almost day when it is night, better than if it were day when it is dusk, and far better during the day (worse if they are chaotic or liminal)."
	[/illuminates]
#enddef

#define TOT_ABILITIES_ILLUMINATES_ANGELIC
	[illuminates]
		id=angelic_illumination
		value=50
		max_value=50
		cumulative=no
		name= _ "angelic illumination"
		female_name= _ "female^angelic illumination"
		description= _ "Illuminates the surrounding area, making lawful units much fight better, and chaotic units fight much worse.

Any units adjacent to this unit will fight as if it were almost day when it is night, better than if it were day when it is dusk, and far better during the day (worse if they are chaotic or liminal)."
	[/illuminates]
#enddef

#define TOT_ABILITIES_DARK_AURA
	[illuminates]
		id=dark_aura
		value=-25
		min_value=-25
		max_value=25
		cumulative=no
		name= _ "dark aura"
		female_name= _ "female^dark aura"
		description= _ "Darkens the surrounding area, making chaotic units fight much better, and lawful units fight much worse.

Any units adjacent to this unit will fight as if it were almost night when it is day, and far better when it is night.

This will also make the unit chaotic if it originally had a different alignment."
	[/illuminates]
#enddef

#define TOT_ABILITIES_SOUL_DISTORTION
	[illuminates]
		id=soul_distortion
		value=-7
		min_value=-7
		max_value=-18
		cumulative=yes
		name= _ "soul distortion"
		female_name= _ "female^dark aura"
		description= _ "An aura that stacks with other auras. Slightly darkens the surrounding area, making chaotic units fight slightly better, and lawful units fight slightly worse. 

Any units adjacent to this unit will fight as if it were almost night when it is day, and far better when it is night."
	[/illuminates]
#enddef

#define TOT_ABILITIES_RADIATING_FLAMES
	[heals]
		value=-5
		id=radiating_flames
		affect_enemies=yes
		name= _ "radiating flames"
		female_name= _ "female^radiating flames"
		description= _ "A flaming aura that deals 5 damage to all adjacent enemies at the end of each turn, but also burns away the poison (if present)"
		affect_self=no
		affect_allies=no
		poison=cured
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
		[/affect_adjacent]
	[/heals]
#enddef

#define TOT_ABILITIES_INSPIRING INTENSITY
	[leadership]
		id=inspiring {INTENSITY}
		value={INTENSITY}
		cumulative=yes
		name= _ "Inspiring ("+{INTENSITY}+_")"
		female_name= _ "female^Inspiring ("+{INTENSITY}+_")"
		description= _ "All adjacent allies will deal "+{INTENSITY}+_"% more damage."
		affect_self=no
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
		[/affect_adjacent]
	[/leadership]
#enddef

#define TOT_ABILITIES_HEALING INTENSITY POISON
	[heals]
		value={INTENSITY}
		id=healing_magic
		affect_enemies=no
		name= _ "healing magic ("+{INTENSITY}+_")"
		female_name= _ "female^healing magic ("+{INTENSITY}+_")"
		description= _ "At the start of your turn, heal all adjacent allies for "+{INTENSITY}+_" hitpoints. When a heal is 4 or higher, it can also cure poison."
		affect_self=no
		affect_allies=yes
		#poison can be slowed/cured
		poison={POISON}
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
		[/affect_adjacent]
	[/heals]
#enddef

#define TOT_ABILITIES_MASS_NIGHTSTALK
    [hides]
        id=mass stealth
        name= _ "shroud of concealment"
        female_name= _ "mass nightstalk"
        description= _ "The unit and all adjacent units become invisible during night.

Enemy units cannot see this unit and all adjacent units at night, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
		affect_allies=yes
        [filter]
            [filter_location]
                time_of_day=chaotic
            [/filter_location]
        [/filter]
        [affect_adjacent]
        [/affect_adjacent]
    [/hides]
#enddef

#define TOT_ABILITIES_PROWL
    [hides]
        id=prowl
        name= _ "prowl"
        female_name= _ "prowl"
        description= _ "The unit is always invisible until detected.

Enemy units cannot see this unit, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
    [/hides]
#enddef

#define TOT_ABILITIES_MASS_SKIRMISH
    [skirmisher]
        id=mass_skirmish
        name= _ "mass skirmish"
        female_name= _ "female^skirmisher"
        description= _ "This unit and all units adjacent to it learn the skill in moving past enemies quickly, and ignore all enemy Zones of Control."
        affect_self=yes
		affect_allies=yes
		[affect_adjacent]
		[/affect_adjacent]
    [/skirmisher]
#enddef

#define TOT_ABILITIES_REGENERATION_LESSER
    [regenerate]
        value=4
        id=lesser regeneration
        name= _ "lesser regeneration"
        female_name= _ "female^lesser regeneration"
        description= _ "The unit will heal itself 4 HP per turn. If it is poisoned, it will halt the poison."
        affect_self=yes
        poison=slowed
    [/regenerate]
#enddef

#define TOT_ABILITIES_REGENERATION_GREATER
    [regenerate]
        value=9
        id=greater regeneration
        name= _ "greater regeneration"
        female_name= _ "female^greater"
        description= _ "The unit will heal itself 9 HP per turn. If it is poisoned, it will cure the poison."
        affect_self=yes
        poison=cured
    [/regenerate]
#enddef

#define TOT_ABILITIES_LEADERSHIP LEVEL
    # Canned definition of the Leadership ability to be included in an
    # [abilities] clause.
    [leadership]
        id=leadership_tot
        value="(25 * ({LEVEL} - other.level))"
        cumulative=no
        name= _ "leadership (level "+{LEVEL}+_")"
        female_name= _ "female^leadership (level "+{LEVEL}+_")"
        description= _ "This unit can lead your own units that are next to it, making them fight better.

Adjacent own units of levels lower than 5 will do more damage in battle. For each level difference of the adjacent unit and this ability (level "+{LEVEL}+_"), the adjacent unit recieves a 25% damage increase." 
        affect_self=no
        [affect_adjacent]
            [filter]
                formula="level < 5"
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

    #####################
  ## Weapon specials ##
#####################

#define TOT_SPECIALS_CHARGE_COORDINATED
    [damage]
        id=coordinated charge
        name= _ "coordinated charge"
        description= _ "When used offensively, this attack deals 50% more damage to the target. But it does not cause this unit to take any additional damage from the target’s counterattack."
        multiply=1.5
        apply_to=self
        active_on=offense
    [/damage]
#enddef

#define TOT_SPECIALS_OVERWHELMING
    [damage]
        id=overwhelming
        name= _ "overwhelming"
        description= _ "When used offensively, this attack overwhelms the enemy reducing it's retaliation damage by 35%."
        multiply=0.65
        apply_to=opponent
        active_on=offense
    [/damage]
#enddef

#define TOT_SPECIALS_OVERWHELMING_GREATER
    [damage]
        id=overwhelming_greater
        name= _ "overwhelming horror"
        description= _ "When used offensively, this attack overwhelms the enemy reducing it's retaliation damage by 55%."
        multiply=0.45
        apply_to=opponent
        active_on=offense
    [/damage]
#enddef

#define TOT_SPECIALS_BACKSTAB_LESSER
    [damage]
        id=backstab lesser
        name= _ "lesser backstab"
        description= _ "When used offensively, sneak in the shadows and deal 50% more damage if there is an enemy of the target on the opposite side of the target, and that unit is not incapacitated (turned to stone or otherwise paralyzed)."
        multiply=1.5
        active_on=offense
        [filter_opponent]
            formula="
                enemy_of(self, flanker) and not flanker.petrified
            where
                flanker = unit_at(direction_from(loc, other.facing))
            "
        [/filter_opponent]
    [/damage]
#enddef

#define TOT_SPECIALS_BACKSTAB_IMPROVED
    [damage]
        id=backstab improved
        name= _ "improved backstab"
        description= _ "When used offensively, sneak in the shadows and deal triple damage if there is an enemy of the target on the opposite side of the target, and that unit is not incapacitated (turned to stone or otherwise paralyzed)."
        multiply=3
        active_on=offense
        [filter_opponent]
            formula="
                enemy_of(self, flanker) and not flanker.petrified
            where
                flanker = unit_at(direction_from(loc, other.facing))
            "
        [/filter_opponent]
    [/damage]
#enddef

#define TOT_SPECIALS_SPIRITED
    [chance_to_hit]
        id=spirited tot
        name= _ "spirited"
        description= _ "This attack always has a 50% chance to hit regardless of the defensive ability of the unit being attacked."
        value=50
        cumulative=no
    [/chance_to_hit]
#enddef

#define TOT_SPECIALS_PRECISE
    [chance_to_hit]
        id=precise tot
        name= _ "precise"
        description= _ "This attack always has a 80% chance to hit regardless of the defensive ability of the unit being attacked."
        value=80
        cumulative=no
    [/chance_to_hit]
#enddef

#define TOT_SPECIALS_GUIDED
# From Legend of the Invincibles
    [chance_to_hit]
        id=guided tot
        name= _ "guided"
        description= _ "When used offensively, this attack always has at least a 90% chance to hit."
        value=90
        cumulative=yes
        active_on=offense
    [/chance_to_hit]
#enddef

#define TOT_SPECIALS_BERSERK_COORDINATED
    [berserk]
        id=coordinated berserk
        name= _ "coordinated berserk"
        description= _ "When used offensively, this attack presses the engagement until 3 rounds of attacks have occurred."
        value=3
		active_on=offense
    [/berserk]
#enddef

#define TOT_SPECIALS_STRUGGLE
# From Legend of the Invincibles
	[chance_to_hit]
		id=struggle
		name= _ "struggle"
		name_inactive= _ "struggle"
		description= _ "This attack causes the opponent to have a 10% lower chance to hit."
		description_inactive= _ "This attack causes the opponent to have a 10% lower chance to hit."
		sub=10
		apply_to=opponent
		cumulative=yes
	[/chance_to_hit]
#enddef

#define TOT_SPECIALS_DISTANT_ATTACK
# From Legend of the Invincibles
	[attacks]
		id=distant attack
		name= _ "distant attack"
		name_inactive= _ "distant attack"
		description= _ "When this attack is used, the enemy will not counter."
		description_inactive= _ "When this attack is used, the enemy will not counter."
		value=0
		apply_to=opponent
		active_on=offense
	[/attacks]
#enddef

#define TOT_SPECIALS_PLAGUE_DREAD
    [plague]
        id=dread plague
        name= _ "dread plague"
		female_name= _ "female^dread plague"
        description= _ "When a unit is killed by a Dread Plague attack, that unit is replaced with a Dread Bones on the same side as the unit with the Dread Plague attack. This doesn’t work on Undead or units in villages."
        type=Dread Bones
    [/plague]
#enddef

#define TOT_SPECIALS_PLAGUE_DREAD2
    [plague]
        id=dread plague2
        name= _ "unholy plague"
		female_name= _ "female^unholy plague"
        description= _ "When a unit is killed by a Dread Plague attack, that unit is replaced with a Dread Archer on the same side as the unit with the Dread Plague attack. This doesn’t work on Undead or units in villages."
        type=Dread Archer
    [/plague]
#enddef

#define TOT_SPECIALS_PLAGUE_IMPROVED
    [plague]
        id=plague improved
        name= _ "improved plague"
		female_name= _ "female^improved plague"
        description= _ "When a unit is killed by a Plague attack, that unit is replaced with a skeleton on the same side as the unit with the Plague attack. This doesn’t work on Undead or units in villages."
        type=Skeleton
    [/plague]
#enddef


    #####################
  ## Dummy abilities ## These abilities do nothing on their own, but are triggered by events.
#####################

#define TOT_ABILITIES_SOUL_ABSORPTION
	[dummy]
		id=soul absorption
		name= _ "soul absorption"
		female_name= _"female^soul absorption"
		description= "This unit gains 3 maximum hitpoints each time it kills an enemy."
	[/dummy]
#enddef

#define TOT_ABILITIES_SOUL_DRAIN
	[dummy]
		id=soul drain
		name= _ "soul drain"
		female_name= _"female^soul drain"
		description= "This unit heals 5 hitpoints each time it kills an enemy."
	[/dummy]
#enddef

#define TOT_ABILITIES_BLOODLUST
	[dummy]
		id=bloodlust
		name= _ "bloodlust"
		female_name= _"female^bloodlust"
		description= "This unit gains an extra attack each time it kills an enemy."
	[/dummy]
#enddef

#define TOT_ABILITIES_SHIELD_IMPROVED
	[dummy]
		id=disruption shield
		name= _ "disruption shield"
		female_name= _"female^disruption shield"
		description= "A passive shield that soaks up a big portion of the damage taken (increased resistances)"
	[/dummy]
#enddef

#define TOT_ABILITIES_SHIELD
	[dummy]
		id=absorption shield
		name= _ "absorption shield"
		female_name= _"female^absorption shield"
		description= "A passive shield that soaks up a portion of the damage taken (increased resistances)"
	[/dummy]
#enddef

#define TOT_ABILITIES_SCOUT
	[dummy]
		id=scout
		name= _ "scout"
		female_name= _"female^scout"
		description= "Capable of attacking twice in a row. Always has the endurance trait."
	[/dummy]
#enddef

#define TOT_ABILITIES_DEATH_PACT
	[dummy]
		id=death pact
		name= _ "death pact"
		female_name= _"female^death pact"
		description= "Immune to drains and cannot be plagued."
	[/dummy]
#enddef

#define TOT_ABILITIES_ANTITOXINS
	[dummy]
		id=antitoxins
		name= _ "antitoxins"
		female_name= _"female^antitoxins"
		description= "Immune to poisons."
	[/dummy]
#enddef

#define TOT_ABILITIES_GEARED
	[dummy]
		id=geared tot
		name= _ "geared"
		female_name= _"female^geared"
		description= "This unit is wearing unique equipment, and cannot wield any more weapons of the same type."
	[/dummy]
#enddef

# From Legend of the Invincibles
#define TOT_ABILITIES_ENDURANCE
	[dummy]
		id=endurance
		name= _ "endurance"
		female_name= _ "female^endurance"
		description= _ "This unit gains 1 movement after attacking, allowing it to slowly progress through ranks of enemies or get away, if it can survive their attacks."
	[/dummy]
#enddef

# From Legend of the Invincibles
#define TOT_ABILITIES_ENDURANCE_GREATER
	[dummy]
		id=endurance_greater
		name= _ "greater endurance"
		female_name= _ "female^greater endurance"
		description= _ "This unit gains 2 movement after attacking, allowing it to slowly progress through ranks of enemies or get away, if it can survive their attacks."
	[/dummy]
#enddef

    #####################
  ## Dummy specials ## These abilities do nothing on their own, but are triggered by events.
#####################

#define TOT_SPECIALS_PURIFY_UNDEAD
	[dummy]
		id=purify undead
		name= _ "purify undead"
		female_name= _ "female^purify undead"
		description= _ "Able to turn undead back to the living when dealing a fatal blow with this attack."
	[/dummy]
#enddef