#textdomain wesnoth-tales_of_two

#define TOT_AMLA_DEFAULT_BONUS
	[effect]
		apply_to=hitpoints
		increase_total=4
		heal_full=yes
	[/effect]
	[effect]
		apply_to=max_experience
		increase=20%
	[/effect]
#enddef

#define TOT_AMLA_HERO_BONUS
	[effect]
		apply_to=hitpoints
		increase_total=3
		heal_full=yes
	[/effect]
	[effect]
		apply_to=max_experience
		increase=6%
	[/effect]
#enddef

#define TOT_AMLA_ILLUMINATES_IMPROVED
	[advancement]
		max_times=1
		id=improved_illumination
        major_amla=yes
		strict_amla=yes
		description= _ "Improved illumination (37%)"
		image=attacks/lightbeam.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_ILLUMINATES_IMPROVED}
			[/abilities]
		[/effect]
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_ILLUMINATES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/illuminates-bright-aura.png
        [/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_ILLUMINATES_ANGELIC
	[advancement]
		max_times=1
		id=angelic_illumination
        major_amla=yes
		strict_amla=yes
		description= _ "Angelic illumination (50%)"
		image=attacks/lightbeam.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_ILLUMINATES_ANGELIC}
			[/abilities]
		[/effect]
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_ILLUMINATES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/illuminates-angelic-aura.png
        [/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_DARK_AURA
	[advancement]
		max_times=1
		id=dark_aura
        major_amla=yes
		strict_amla=yes
		description= _ "Learn dark aura and change alignment to chaotic"
		image=attacks/lightbeam.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_DARK_AURA}
			[/abilities]
		[/effect]
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_ILLUMINATES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/darkens-aura.png
        [/effect]
        [effect]
            apply_to=alignment
            set=chaotic
        [/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_INSPIRING_1
	[advancement]
		max_times=1
		id=inspiring_1
        major_amla=yes
		strict_amla=yes
		description= _ "Inspire adjacent allies, making them deal more damage (10%)"
		image=attacks/inspiring.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_INSPIRING 10}
			[/abilities]
		[/effect]
		{TOT_AMLA_HERO_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_INSPIRING_2
	[advancement]
		require_amla=inspiring_1
		max_times=1
		id=inspiring_2
        major_amla=yes
		strict_amla=yes
		description= _ "Inspire adjacent allies, making them deal more damage (20%)"
		image=attacks/inspiring.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_INSPIRING 20}
			[/abilities]
		[/effect]
		{TOT_AMLA_HERO_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_INSPIRING_3
	[advancement]
		require_amla=inspiring_2
		max_times=1
		id=inspiring_3
        major_amla=yes
		strict_amla=yes
		description= _ "Inspire adjacent allies, making them deal more damage (30%)"
		image=attacks/inspiring.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_INSPIRING 30}
			[/abilities]
		[/effect]
		{TOT_AMLA_HERO_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_LESSER_HEALING
	[advancement]
		max_times=1
		id=lesser_healing
        major_amla=yes
		strict_amla=yes
		description= _ "Learn to heal allies slightly and halt poison"
		image=attacks/touch-faerie.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
				{ABILITY_UNPOISON}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_HEALING 2 slowed}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_HEALING
	[advancement]
		require_amla=lesser_healing
		max_times=1
		id=healing
        major_amla=yes
		strict_amla=yes
		description= _ "Learn to heal and cure allies"
		image=attacks/touch-faerie.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
				{ABILITY_UNPOISON}
				{TOT_ABILITIES_HEALING 2 slowed}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_HEALING 4 cures}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_GREATER_HEALING
	[advancement]
		require_amla=healing
		max_times=1
		id=greater_healing
        major_amla=yes
		strict_amla=yes
		description= _ "Learn to heal allies better"
		image=units/elves-wood/shyde-healing3.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
				{ABILITY_UNPOISON}
				{TOT_ABILITIES_HEALING 4 cures}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_HEALING 8 cures}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_POWERFUL_HEALING
	[advancement]
		max_times=1
		id=powerful_healing
        major_amla=yes
		strict_amla=yes
		description= _ "Learn powerful healing secrets"
		image=units/elves-wood/shyde-healing3.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
				{ABILITY_UNPOISON}
				{ABILITY_CURES}
				{TOT_ABILITIES_HEALING 8 cures}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_HEALING 12 cures}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

##### Normal stuff #####
#define TOT_AMLA_IMPROVED_MELEE
	[advancement]
		max_times=8
		id=improve_melee
        major_amla=no
		strict_amla=yes
		description= _ "Better with melee"
		image=attacks/fist-human.png
		[effect]
			apply_to=attack
			range=melee
			increase_damage=4
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_FASTER_MELEE
	[advancement]
		max_times=4
		id=faster_melee
        major_amla=no
		strict_amla=yes
		description= _ "Faster with melee"
		image=attacks/sword-human.png
		[effect]
			apply_to=attack
			range=melee
			increase_attacks=1
			increase_damage=-1
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_IMPROVED_RANGED
	[advancement]
		max_times=8
		id=improved_ranged
        major_amla=no
		strict_amla=yes
		description= _ "Better with bow"
		image=attacks/sword-human.png
		[effect]
			apply_to=attack
			range=ranged
			increase_damage=4
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_FASTER_RANGED
	[advancement]
		max_times=4
		id=faster_ranged
        major_amla=no
		strict_amla=yes
		description= _ "Faster with bow"
		image=attacks/sword-human.png
		[effect]
			apply_to=attack
			range=ranged
			increase_attacks=1
			increase_damage=-1
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef