#textdomain wesnoth-tales_of_two

#define TOT_AMLA_DEFAULT_BONUS
	[effect]
		apply_to=hitpoints
		increase_total=4
		heal_full=yes
	[/effect]
	[effect]
		apply_to=max_experience
		increase=20%
	[/effect]
#enddef

#define TOT_AMLA_ILLUMINATES_IMPROVED
	[advancement]
		max_times=1
		id=improved_illumination
        major_amla=yes
		strict_amla=yes
		description= _ "Improved illumination (37%)"
		image=attacks/lightbeam.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_ILLUMINATES_IMPROVED}
			[/abilities]
		[/effect]
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_ILLUMINATES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/illuminates-bright-aura.png
        [/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_ILLUMINATES_ANGELIC
	[advancement]
		max_times=1
		id=angelic_illumination
        major_amla=yes
		strict_amla=yes
		description= _ "Angelic illumination (50%)"
		image=attacks/lightbeam.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_ILLUMINATES_ANGELIC}
			[/abilities]
		[/effect]
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_ILLUMINATES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/illuminates-angelic-aura.png
        [/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_ILLUMINATES_IMPROVED
	[advancement]
		max_times=1
		id=dark_aura
        major_amla=yes
		strict_amla=yes
		description= _ "Dark aura (25%)"
		image=attacks/lightbeam.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_DARK_AURA}
			[/abilities]
		[/effect]
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_ILLUMINATES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=halo
            halo=halo/darkens-aura.png
        [/effect]
        [effect]
            apply_to=alignment
            set=chaotic
        [/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_RADIATING_FLAMES
	[advancement]
		max_times=1
		id=radiating_flames
        major_amla=yes
		strict_amla=yes
		description= _ "Learn to radiate flames from your aura"
		image=attacks/infernal_radiation.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_RADIATING_FLAMES}
			[/abilities]
		[/effect]
        [effect]
            apply_to=halo
            halo=halo/illuminates-warmth-aura3.png
        [/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_INSPIRING_10
	[advancement]
		max_times=1
		id=inspiring_10
        major_amla=yes
		strict_amla=yes
		description= _ "Inspire adjacent allies, making them deal more damage"
		image=attacks/inspiring.png
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_INSPIRING 10}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_FIREBALL_EXPLOSIVE
    [advancement]
        max_times=1
        id=fireball_explosive
        description= _ "Learn to cast a devestating explosive fireball"
        image=attacks/fireball3.png
        strict_amla=yes
        [effect]
            apply_to=new_attack
            name=fireball_explosive
            description=_"explosive inferno"
            icon=attacks/fireball3.png
            type=fire
            range=ranged
            [specials]
                {WEAPON_SPECIAL_MAGICAL}
            [/specials]
            damage=90
            number=1
        [/effect]
    [/advancement]
#enddef

#define TOT_AMLA_RED_LIGHTNING
    [advancement]
        max_times=1
        id=red_lightning
        description= _ "Learn to cast an arcane based lightning attack"
        image=attacks/red_lightning.png
        strict_amla=yes
        [effect]
            apply_to=new_attack
			name=infernal_lightning
			description=_"infernal lightning"
			icon=attacks/red_lightning.png
			type=arcane
			range=ranged
			[specials]
				{WEAPON_SPECIAL_MAGICAL}
			[/specials]
			damage=31
			number=4
        [/effect]
    [/advancement]
#enddef

#define TOT_AMLA_LESSER_HEALING
	[advancement]
		max_times=1
		id=lesser_healing
        major_amla=yes
		strict_amla=yes
		description= _ "Learn to heal allies slightly and halt poison"
		image=attacks/touch-faerie.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
				{ABILITY_UNPOISON}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_HEALING 2 slowed}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_HEALING
	[advancement]
		require_amla=lesser_healing
		max_times=1
		id=healing
        major_amla=yes
		strict_amla=yes
		description= _ "Learn to heal and cure allies"
		image=attacks/touch-faerie.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
				{ABILITY_UNPOISON}
				{TOT_ABILITIES_HEALING 2 slowed}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_HEALING 4 cures}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_GREATER_HEALING
	[advancement]
		require_amla=healing
		max_times=1
		id=greater_healing
        major_amla=yes
		strict_amla=yes
		description= _ "Learn to heal allies better"
		image=units/elves-wood/shyde-healing3.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
				{ABILITY_UNPOISON}
				{TOT_ABILITIES_HEALING 4 cures}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_HEALING 8 cures}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_POWERFUL_HEALING
	[advancement]
		max_times=1
		id=powerful_healing
        major_amla=yes
		strict_amla=yes
		description= _ "Learn powerful healing secrets"
		image=units/elves-wood/shyde-healing3.png
		[effect]
			apply_to=remove_ability
			[abilities]
				{ABILITY_HEALS}
				{ABILITY_UNPOISON}
				{ABILITY_CURES}
				{TOT_ABILITIES_HEALING 8 cures}
			[/abilities]
		[/effect]
		[effect]
			apply_to=new_ability
			[abilities]
				{TOT_ABILITIES_HEALING 12 cures}
			[/abilities]
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_TEST
	[advancement]
		max_times=8
		id=test
        major_amla=no
		strict_amla=yes
		description= _ "Test"
		image=attacks/fist-human.png
		[effect]
			apply_to=attack
			name=fireball
			increase_damage=40
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

##### Normal stuff #####
#define TOT_AMLA_IMPROVED_MELEE
	[advancement]
		max_times=8
		id=improve_melee
        major_amla=no
		strict_amla=yes
		description= _ "Better with melee"
		image=attacks/fist-human.png
		[effect]
			apply_to=attack
			range=melee
			increase_damage=4
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_FASTER_MELEE
	[advancement]
		max_times=4
		id=faster_melee
        major_amla=no
		strict_amla=yes
		description= _ "Faster with melee"
		image=attacks/sword-human.png
		[effect]
			apply_to=attack
			range=melee
			increase_attacks=1
			increase_damage=-1
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_IMPROVED_RANGED
	[advancement]
		max_times=8
		id=improved_ranged
        major_amla=no
		strict_amla=yes
		description= _ "Better with bow"
		image=attacks/sword-human.png
		[effect]
			apply_to=attack
			range=ranged
			increase_damage=4
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef

#define TOT_AMLA_FASTER_RANGED
	[advancement]
		max_times=4
		id=faster_ranged
        major_amla=no
		strict_amla=yes
		description= _ "Faster with bow"
		image=attacks/sword-human.png
		[effect]
			apply_to=attack
			range=ranged
			increase_attacks=1
			increase_damage=-1
		[/effect]
		{TOT_AMLA_DEFAULT_BONUS}
	[/advancement]
#enddef