#textdomain wesnoth-tales_of_two
#define LIGHTNING DIRECTION_NUMBER
	[attack_anim]
		[filter_attack]
			name=lightning
			[or]
				name=thunder
			[/or]
		[/filter_attack]

		{LIGHTNING_BOLT {DIRECTION_NUMBER} }

		start_time=-250
		[frame]
			begin=-300
			end=-200
			image="units/dwarves/hero.png"
		[/frame]
		[frame]
			begin=-200
			end=-75
			image="units/dwarves/hero-magic.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				begin=-75
				end=0
				image="units/dwarves/hero-magic.png"
				sound=lightning.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-75
				end=0
				image="units/dwarves/hero-magic.png"
				sound=lightning-miss.ogg
			[/frame]
		[/else]
		[frame]
			begin=0
			end=75
			image="units/dwarves/hero-magic.png"
		[/frame]
		[frame]
			begin=75
			end=150
			image="units/dwarves/hero.png"
		[/frame]
	[/attack_anim]
#enddef
[unit_type]
	id=Dwarvish Hero tot
	name= _ "Dwarvish Hero"
	race=dwarf
	image="units/dwarves/hero.png"
	profile="portraits/dwarves/lord.png"
	hitpoints=81
	movement_type=dwarvishfoot
	movement=4
	experience=150
	{QUANTITY experience 110 130 150}
	level=4
	alignment=neutral
	advances_to=null
	[advancefrom]
		unit=Dwarvish Lord
		experience=230
	[/advancefrom]
	cost=69
	usage=fighter
	description= _ "Dwarvish Heroes are the strongest, toughest and wisest from the dwarves. Hardened by centuries of warfare under the ground and also above it, their strength and wisdom grew beyond measure. Their incredible skill with smithing granted them the mightiest hammers and most solid armours ever, and even dwarvish kings have a strong respect towards them."
	die_sound={SOUND_LIST:DWARF_DIE}
	{DEFENSE_ANIM_FILTERED "units/dwarves/hero-defend.png" "units/dwarves/hero.png" {SOUND_LIST:DWARF_HIT} (
		[filter_second_attack]
			name=hammer
		[/filter_second_attack]
	)}
	{DEFENSE_ANIM_FILTERED "units/dwarves/hero-axe-defend.png" "units/dwarves/hero-axe-attack1.png" {SOUND_LIST:DWARF_HIT} (
		[filter_second_attack]
			name=battle axe
		[/filter_second_attack]
	)}
	{DEFENSE_ANIM_RANGE "units/dwarves/hero-defend-ranged.png" "units/dwarves/hero.png" {SOUND_LIST:DWARF_HIT} ranged}
	[portrait]
		size=400
		side="left"
		mirror="false"
		image="portraits/dwarves/hero.png"
	[/portrait]
	[portrait]
		size=400
		side="right"
		mirror="true"
		image="portraits/dwarves/hero.png"
	[/portrait]
	[resistance]
		blade=50
		pierce=50
		impact=50
	[/resistance]
	[attack]
		name=battle axe
		description=_"battle axe"
		type=blade
		range=melee
		icon=attacks/battleaxe.png
		damage=13
		number=4
	[/attack]
	[attack]
		name=hammer
		description= _"hammer"
		icon=attacks/hammer-dwarven-runic.png
		type=impact
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		range=melee
		damage=21
		number=2
	[/attack]
	[attack]
		name=hatchet
		description=_"hatchet"
		type=blade
		range=ranged
		damage=10
		number=2
	[/attack]
	[attack_anim]
		[filter_attack]
			name=hatchet
		[/filter_attack]
		start_time=-450
		{MISSILE_FRAME_HATCHET}
		[frame]
			duration=100
			image="units/dwarves/hero-ranged-1.png"
		[/frame]
		[frame]
			duration=100
			image="units/dwarves/hero-ranged-2.png"
		[/frame]
		[frame]
			duration=100
			image="units/dwarves/hero-ranged-3.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/dwarves/hero-ranged-4.png"
				sound=hatchet.wav
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/dwarves/hero-ranged-4.png"
				sound=hatchet-miss.wav
			[/frame]
		[/else]
		[frame]
			duration=100
			image="units/dwarves/hero-ranged-4.png"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=hammer
		[/filter_attack]
		start_time=-250
		[frame]
			duration=100
			image="units/dwarves/hero-attack1.png"
		[/frame]
		[frame]
			duration=100
			image="units/dwarves/hero-attack2.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/dwarves/hero-attack3.png"
				sound=mace.wav
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/dwarves/hero-attack3.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			duration=100
			image="units/dwarves/hero.png"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=battle axe
		[/filter_attack]
		start_time=-250
		[frame]
			duration=100
			image="units/dwarves/hero-axe-attack1.png"
		[/frame]
		[frame]
			duration=100
			image="units/dwarves/hero-axe-attack2.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/dwarves/hero-axe-attack3.png"
				sound=axe.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/dwarves/hero-axe-attack3.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			duration=100
			image="units/dwarves/hero-axe-attack1.png"
		[/frame]
	[/attack_anim]
	{LIGHTNING 1}
	{LIGHTNING 2}
	{LIGHTNING 3}
[/unit_type]
#undef LIGHTNING