#textdomain wesnoth-tales_of_two
[unit_type]
    id=Soul Wraith
    name= _ "Soul Wraith"
    race=undead
    image="units/undead/soul-wraith/wraith-s.png"
    profile="portraits/undead/soul-wraith.png"
    halo="halo/undead/soul-aura/nature-halo[1~8].png:150"
    hitpoints=58
    movement_type=undeadspirit
    movement=6
    experience=55
    level=3
    alignment=chaotic
    advances_to=Spectre of Souls
    cost=30
    usage=scout
    description= _ "When a Soul Seeker consumes enough souls, it can become a Soul Wraith. It can conjure a Soulblade which it uses to literally tear souls apart.
    
Much like the Soul Seeker and other variants, the souls it collects are volatile of nature and explode when it comes in contact with anything that tries to harm it. However, this spirit can pose a serious threat if it can regain its souls faster than you can destroy them."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SOUL_DISTORTION}+{SPECIAL_NOTES_SOUL_ABSORPTION}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_PLAGUE_STRONG}+{SPECIAL_NOTES_SPIRITED}+{SPECIAL_NOTES_ARCANE}
    die_sound=wail-long.wav
    [resistance]
        arcane=125
        blade=85
        cold=45
        fire=120
        impact=80
        pierce=90
    [/resistance]
    [abilities]
        {TOT_ABILITIES_SOUL_DISTORTION}
        {TOT_ABILITIES_SOUL_ABSORPTION}
    [/abilities]
    [attack]
        name=baneblade
        description=_"soulblade"
        icon=attacks/experimental_sword.png
        type=arcane
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_PLAGUE_TYPE Skeleton}
        [/specials]
    [/attack]
    [attack]
        name=drain soul
        description=_"drain soul"
        icon=attacks/drain_soul.png
        type=cold
        range=ranged
        damage=14
        number=1
        [specials]
            {TOT_SPECIALS_SPIRITED}
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_PLAGUE_TYPE Skeleton}
        [/specials]
    [/attack]
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1100,0.4~0.6:450,0.6~0.4:450,0.4~0.8:1100
        [frame]
            image="units/undead/soul-wraith/wraith-s-[1~4,1~4,1~4,1~4].png:200"
        [/frame]
    [/standing_anim]
    [defend]
        start_time=-126
        [if]
            hits=hit
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126

            hit_sound_start_time=-25
            [hit_sound_frame]
                sound=wail-sml.wav
            [/hit_sound_frame]
        [/if]
        [else]
            hits=kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
        [/else]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha=0.8~0.25:126,0.25~0.8:126
        [/else]
        [frame]
            image=units/undead/soul-wraith/wraith-s-2.png:1,units/undead/soul-wraith/wraith-s-attack-1.png:250,units/undead/soul-wraith/wraith-s-2.png:1
        [/frame]
    [/defend]
    [attack_anim]
        [filter_attack]
            name=drain soul
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        sound=wail-sml.wav
        start_time=-200
        [frame]
            image="units/undead/soul-wraith/wraith-s.png:50"
        [/frame]
        [frame]
            image="units/undead/soul-wraith/wraith-s-defend-1.png:250"
        [/frame]
        sound=soul_drain.ogg
        {MISSILE_FRAME_FAERIE_FIRE_BACKWARDS}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=baneblade
        [/filter_attack]
        alpha=0.8~0.5:126,0.5~0.8:126
        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=-250
        [frame]
            image="units/undead/soul-wraith/wraith-s-attack-[1~5].png:[150,100*2,90,80]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/undead/soul-wraith/wraith-s-defend-1.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
